body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1b5e20, #66bb6a);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover padding padrão */
}

.container {
  width: 100%;
  max-width: 550px;
  padding: 20px;
  background: white;
  color: #1b5e20;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0; /* Remover margens externas */
}

.logo {
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  display: block;
}

h2 {
  color: #1b5e20;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

input {
  width: calc(100% - 24px);
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #1b5e20;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #1b5e20;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #388e3c;
}

.resultado {
  margin-top: 20px;
  padding: 15px;
  background: #e8f5e9;
  color: #1b5e20;
  border-left: 5px solid #388e3c;
  text-align: left;
  border-radius: 5px;
  font-size: 16px;
}

/* Ajustes para Telas Pequenas */
@media (max-width: 480px) {
  .container {
    padding: 15px;
    margin: 0; /* Remover margens em mobile */
    border-radius: 0; /* Remover bordas em mobile */
  }

  input, button {
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
  }
}

/* Estilos para as seções de ajuda */
.ajuda {
  margin-top: 20px;
  padding: 10px;
  background-color: #e8f5e9;
  color: #1b5e20;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.explicacao, .etapasSoroneutralizacao, .observacoesTeste {
  margin-top: 10px;
  padding: 15px;
  background: #f1f8e9;
  color: #1b5e20;
  border-left: 5px solid #388e3c;
  border-radius: 5px;
  font-size: 14px;
  display: none; /* Inicialmente oculto */
}

.imagemLink {
  color: #1b5e20;
  text-decoration: underline;
  cursor: pointer;
}